<h1> Search </h1>
<%= form_tag search_questions_path, method: :get do %>
  <%=text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @question %>
  <table>
    <thead>
      <tr>
        <th>Member</th>
        <th>Question Title</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @question.each do |question| %>
        <tr>
          <td><%= question.member_id =%></td>
          <td><%= question.title =%></td>
          <td><%= question.desc =%></td>
        </tr>
      <% end %>
    <tbody>
  </table>
  <% else %>
    <p>Search somin</p>
  <% end %>
